<!doctype html>
<html ng-app="mainApp">
    <head>
        <title>Avatrade Ex 1</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.8.0/angular-animate.min.js"></script>
        <script type="text/javascript" src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
        
        <script type="text/javascript" src="/js/module.js"></script>
        <script type="text/javascript" src="/js/stage1Ctrl.js"></script>
        <script type="text/javascript" src="/js/stage2Ctrl.js"></script>
        <script type="text/javascript" src="/js/stage3Ctrl.js"></script>
        <script type="text/javascript" src="/js/stage4Ctrl.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body>
        <div ng-controller="MainController as main" class="container progressButton">
            <div class="roundButtonContainer">
                Add book - New Book
            </div>
            <div class="roundButtonContainer">
                <div class="roundButton">
                    <div ng-class="{active: path === '' || path === '/stage1'}">1</div>
                    <div class="roundButton">Genre</div>
                </div>
                <div class="roundButton">
                    <div ng-class="{active: path === '/stage2'}">2</div>
                    <div class="roundButton">SubGenre</div>
                </div>
                <div class="roundButton">
                    <div ng-class="{active: path === '/stage3'}">3</div>
                    <div class="roundButton">Add new subgenre</div>
                </div>
                <div class="roundButton">
                    <div ng-class="{active: path === '/stage4'}">4</div>
                    <div class="roundButton">Information</div>
                </div>
            </div>
            <div ng-view></div>
            <div class="buttonContainer">
                <button class="btn btn-outline-dark" ng-click="back()"><i class="fas fa-less-than"></i> Back</button>
                <button class="btn btn-primary" ng-click="forward()" ng-disabled="nextDisable">Next</button>
            </div>
            
            <script type="text/ng-template" id="myModalContent.html">
                <!-- <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
                </div> -->
                <div class="modal-body custom-modal" id="modal-body">
                    <div><i class="fas fa-check-circle"></i></div>
                    <div>Book added successfully</div>
                </div>
                <div class="modal-footer custom-modal">
                    <button class="btn btn-primary" type="button" ng-click="ok()">Add Another Book</button>
                </div>
            </script>
        </div>
    </body>
</html>