.roundButtonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.roundButtonContainer .roundButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.roundButtonContainer .roundButton div:first-child {
    text-align: center;
    padding: 1.0em 1.0em 1.0em 1.0em;
    width: 3.5em;
    height: 3.5em;
    background-color: var(--light);
    border-radius: 3.5em;
}

.roundButtonContainer .roundButton .active {
    border: 1px solid var(--blue);
    background-color: var(--blue) !important;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    margin-left: 0.5em;
    width: 7.0em;
}

.itemscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.0em;
}

.itemscontainer .selButton {
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: .25rem;
    flex: 1 0 21%; 
    max-width: 21%;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
}

.itemscontainer .active {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
}

.itemscontainer form {
    width: 100%;
}

.itemscontainer form .shortField {
    width: 40%;
    margin-right: 1.0em;
}

.itemscontainer form .twoComponents {
    display: flex;
    flex-direction: row;

}

.custom-modal {
    justify-content: center;
}

.custom-modal div {
    text-align: center;
}

.custom-modal div .fa-check-circle {
    font-size: 8em;
}