<div class="itemscontainer">
    <form>
        <div class="form-group">
            <label for="txtSubGenreName">Subgenre name</label>
            <input type="text" class="form-control" id="txtSubGenreName" aria-describedby="emailHelp" ng-model="myForm.SubGenreName" ng-keyup="onKeyup()">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="reqRequired" ng-model="myForm.Required">
            <label class="form-check-label" for="reqRequired">Description is required for subgenre</label>
        </div>
    </form>
</div>