<div class="itemscontainer">
    <form>
        <div class="form-group">
            <label for="txtBooktitle">Book Title</label>
            <input type="text" class="form-control" id="txtBooktitle" ng-model="myForm.Booktitle">
        </div>
        <div class="form-group">
            <label for="txtAuthor">Author</label>
            <input type="text" class="form-control" id="txtAuthor" ng-model="myForm.Author">
        </div>
        <div class="form-group">
            <label for="txtISBN">ISBN</label>
            <input type="text" class="form-control" id="txtISBN" ng-model="myForm.ISBN">
        </div>
        <div class="form-group">
            <label for="selPublisher">Publisher</label>
            <select class="form-control" id="selPublisher" ng-model="myForm.Publisher">
                <option value="1">Yedioth</option>
                <option value="2">Keter</option>
                <option value="3">Modan</option>
            </select>
        </div>
        <div class="form-group shortField">
            <label for="txtDatePublished">Date published</label>
            <input type="text" class="form-control" id="txtDatePublished" ng-model="myForm.DatePublished">
        </div>
        <div class="form-group shortField">
            <label for="txtNumOfPages">Number of pages</label>
            <input type="text" class="form-control" id="txtNumOfPages" ng-model="myForm.NumOfPages">
        </div>
        <div class="form-group shortField">
            <label for="selFormat">Format</label>
            <select class="form-control" id="selFormat" ng-model="myForm.Format">
                <option value="1">Big</option>
                <option value="2">Medium</option>
                <option value="3">Small</option>
            </select>
        </div>
        <div class="twoComponents">
            <div class="form-group shortField">
                <label for="txtEdition">Edition</label>
                <input type="text" class="form-control" id="txtEdition" ng-model="myForm.Edition">
            </div>
            <div class="form-group shortField">
                <label for="selEditionLanguage">Edition Language</label>
                <select class="form-control" id="selEditionLanguage" ng-model="myForm.EditionLanguage">
                    <option value="1">Hebrew</option>
                    <option value="2">English</option>
                    <option value="3">Russian</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtDescription">Description</label>
            <textarea class="form-control" id="txtDescription" ng-model="myForm.Description"></textarea>
        </div>
    </form>
</div>